Instagram_Messenger.json
{
  "name": "Instagram_Messenger",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f561735-6971-4b60-acb9-5172f948ee6c",
              "name": "message",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            },
            {
              "id": "e8a70e40-ce88-4c33-b1ed-d5e62413fba0",
              "name": "userId",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "number"
            },
            {
              "id": "eb0dac62-fcd3-4cca-8e18-80ef5a545271",
              "name": "username",
              "value": "Dummy Tester",
              "type": "string"
            },
            {
              "id": "f45474fe-7c4e-4f72-9ed7-a1b1c500e7f8",
              "name": "sender id ",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "2143b8f1-2974-4585-9065-df35d6dcf45d",
              "name": "entry id ",
              "value": "={{ $json.body.entry[0].id }}",
              "type": "string"
            },
            {
              "id": "cb283c51-ef82-4958-a315-af08c7b15d36",
              "name": "messageId",
              "value": "={{ $json.body.entry[0].messaging[0].message.mid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        192
      ],
      "id": "86d6ac5d-91fd-4231-a8fb-95a5a2d110d1",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7708946-b6e1-4c3d-8678-b0ad033232a1",
              "leftValue": "={{ $json.output[0].type }}",
              "rightValue": "greeting",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        304
      ],
      "id": "61c8e9d2-48d6-46b0-a1cc-aeb9d1ad5cc4",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v24.0/{{ $('Filter2').item.json.body.entry[0].changes[0].value.id }}/replies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        640
      ],
      "id": "d8d8ff93-12cc-46b4-b19f-36da88470ff9",
      "name": "reply to comments1",
      "credentials": {
        "httpBearerAuth": {
          "id": "x4rSM9RFuiLqnCdN",
          "name": "IG reply to comments"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "149843a8-cac3-4f27-9ba8-2729f2b88c3a",
              "leftValue": "={{ $json.body.entry[0].id }}",
              "rightValue": "={{ $json.body.entry[0].changes[0].value.from.id }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -832,
        176
      ],
      "id": "a9a1bcfc-bf56-4214-8423-2ecbcbdca291",
      "name": "Filter2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f561735-6971-4b60-acb9-5172f948ee6c",
              "name": "comment",
              "value": "thanks for the service",
              "type": "string"
            },
            {
              "id": "e8a70e40-ce88-4c33-b1ed-d5e62413fba0",
              "name": "userId",
              "value": 1,
              "type": "number"
            },
            {
              "id": "eb0dac62-fcd3-4cca-8e18-80ef5a545271",
              "name": "username",
              "value": "Dummy Tester",
              "type": "string"
            },
            {
              "id": "f45474fe-7c4e-4f72-9ed7-a1b1c500e7f8",
              "name": "sender id ",
              "value": "={{ $json.body.entry[0].changes[0].value.from.id }}",
              "type": "string"
            },
            {
              "id": "2143b8f1-2974-4585-9065-df35d6dcf45d",
              "name": "entry id ",
              "value": "={{ $json.body.entry[0].id }}",
              "type": "string"
            },
            {
              "id": "67118d87-3783-4fa8-8a23-62eeb3caf8da",
              "name": "comment id ",
              "value": "={{ $json.body.entry[0].changes[0].value.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        288
      ],
      "id": "15244794-b670-4bb9-a109-f1852a9dffda",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "844ad93a-8389-4733-ac80-6a5474a4eceb",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e3badc0c-3155-4922-b351-536d635ba3ab",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "demotoken",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1568,
        -192
      ],
      "id": "f697735b-21c5-4701-9199-aefa68053b7b",
      "name": "If4"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1344,
        -288
      ],
      "id": "b168a283-1a3b-4b3b-89a8-349c3bed96bb",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "149843a8-cac3-4f27-9ba8-2729f2b88c3a",
              "leftValue": "={{ $json.body.entry[0].id }}",
              "rightValue": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -896,
        -144
      ],
      "id": "57551293-5d3e-44c1-b0ea-f6dd4b2b7add",
      "name": "Filter3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an AI social media assistant for a tech company. Your task is to reply to user comments on Instagram or other platforms. Each reply should:\n\nRandomly pick one of these friendly opening sentences as the very first sentence:\n\n“Thanks for stopping by! 👋”\n\n“Always nice to hear from you! 😊”\n\n“Appreciate you being here! 💛”\n\n“Glad you dropped in! 🙌”\n\n“Thanks for the visit! 🌟”\n\n“So nice of you to comment! 💬”\n\n“Happy to see your message! 😄”\n\n“Thanks for taking the time! 🙏”\n\n“Your support means a lot! 💫”\n\n“Great to have you here! 💕”\n\n“Thanks for checking this out! 👏”\n\n“Appreciate the love! 💖”\n\n“Nice to see you around! 🌸”\n\n“Thanks for being part of the convo! 🗨️”\n\n“Glad you’re here! 💛”\n\nThank the user for their comment without repeating the exact comment text.\n\nPolitely suggest that the user can contact the company privately for more details or visit the website to explore the services.\n\nInclude the website: smplics.com.\n\nKeep the tone friendly, professional, and approachable.\n\nMake the reply concise and suitable for social media engagement.\n\nHere is the user comment: {{ $json.comment }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -448,
        400
      ],
      "id": "063e6204-eaea-4df0-9127-6c2ebb01c886",
      "name": "Message a model3",
      "credentials": {
        "openAiApi": {
          "id": "d50Tbh0XGJWC5Bbv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v24.0/{{ $('Edit Fields3').item.json['entry id '] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n             \"recipient\":{ \n                 \"comment_id\": \"{{ $('Edit Fields3').item.json['comment id '] }}\" \n             },\n             \"message\": { \n                 \"text\": \"{{ $('Message a model3').item.json.message.content }}\" \n             }\n         } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        640
      ],
      "id": "beb2fc23-ba50-4a6e-8efc-bb47889a2784",
      "name": "Private Replay1",
      "credentials": {
        "httpBearerAuth": {
          "id": "x4rSM9RFuiLqnCdN",
          "name": "IG reply to comments"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "d15a571c-ea39-4a5d-a6f8-fa61dd4849d5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7b9a2c8e-e87a-4d4a-b17e-b951662a23af",
                    "leftValue": "={{ $json.body.entry[0].changes[0].field }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "comment"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1120,
        0
      ],
      "id": "a1be0c15-8404-4aec-8eaa-d347a70dc591",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DcXSU0asIKpIE5RkeiPlgZWA5lkJ8-NMj3bzzhLRi5M",
          "mode": "list",
          "cachedResultName": "Instagram messages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DcXSU0asIKpIE5RkeiPlgZWA5lkJ8-NMj3bzzhLRi5M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DcXSU0asIKpIE5RkeiPlgZWA5lkJ8-NMj3bzzhLRi5M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $('Edit Fields2').item.json.message }}",
            "userId": "={{ $('Edit Fields2').item.json.userId }}",
            "type": "={{ $json.output[0].type }}",
            "id": "={{ $('Edit Fields2').item.json.messageId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        400
      ],
      "id": "2e12df54-acdb-4426-9569-3d46adfa1a32",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BQxdMw9lmTS7j3AQ",
          "name": "Google Sheets account (smplics)"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "7e9b1d29-f5af-4a95-84e7-40baabb1651b",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1792,
        -96
      ],
      "id": "fcbce07b-822a-40fd-a1e5-fb7a76bc902a",
      "name": "Webhook",
      "webhookId": "7e9b1d29-f5af-4a95-84e7-40baabb1651b",
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v24.0/{{ $('Edit Fields2').item.json['entry id '] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Edit Fields2').item.json['sender id '] }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"{{ $json.reply }}\",\n    \"quick_replies\": [\n      {\n        \"content_type\": \"text\",\n        \"title\": \"🛠️ Services\",\n        \"payload\": \"SHOW_SERVICES\"\n      },\n      {\n        \"content_type\": \"text\",\n        \"title\": \"📞 CONTACT\",\n        \"payload\": \"SHOW_CONTACT\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -112
      ],
      "id": "a2b542fc-8692-4ab7-843a-d7972a0e382d",
      "name": "quick reply3",
      "credentials": {
        "httpBearerAuth": {
          "id": "x4rSM9RFuiLqnCdN",
          "name": "IG reply to comments"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08c6c284-fef4-41ee-a7c7-28cea7563ed0",
              "leftValue": "={{ $json.body.entry[0].messaging[0].message.quick_reply }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        -144
      ],
      "id": "3ea19340-f7be-45f3-8a2c-c6447e615717",
      "name": "If5",
      "notes": "this node figures weather the message sent from the user is regular message or quick reply"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1344,
        -96
      ],
      "id": "db945aab-8a91-441c-b248-940eb146724f",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "action": "hmac",
        "binaryData": true,
        "type": "SHA256",
        "dataPropertyName": "calculated_signature",
        "secret": "2b638d0e31e9eda18a9fead29b8f1f02"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -1568,
        96
      ],
      "id": "f35829c7-c856-4ed0-a9b8-7a86c5676a49",
      "name": "Crypto: calculate signature"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92bc8692-648d-4448-8df1-145c5fe6e748",
              "leftValue": "={{ $json.headers['x-hub-signature-256'] }}",
              "rightValue": "=sha256={{ $json.calculated_signature }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1344,
        96
      ],
      "id": "8c2cb697-7e13-4e9a-a1d0-98f435e03399",
      "name": "request_valid?"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1120,
        192
      ],
      "id": "5df7d807-f901-4833-bc68-0c07b6d2bd61",
      "name": "Respond 401"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.quick_reply.payload }}",
                    "rightValue": "SHOW_SERVICES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2591df04-62bd-4c69-96dc-4888a23e505f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "services reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6fcbc7f8-a645-435e-85ae-967d6187585b",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.quick_reply.payload }}",
                    "rightValue": "SHOW_PRICES",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pricing reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50f4fbea-36df-4ba9-bfe2-d0e267a0841f",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.quick_reply.payload }}",
                    "rightValue": "SHOW_CONTACT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "contact reply"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -384,
        -384
      ],
      "id": "c6a99743-cb4e-49fb-8a20-d2b554e0d734",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automation.urbatech.io/backend/messages/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "={{ $('Filter3').item.json.body.entry[0].messaging[0].recipient.id }}"
            },
            {
              "name": "sender_id",
              "value": "= {{ $json.recipient_id }}"
            },
            {
              "name": "sender_username",
              "value": "=user_{{ $json.recipient_id }}"
            },
            {
              "name": "message",
              "value": "={{ $('Filter3').item.json.body.entry[0].messaging[0].message.text }}"
            },
            {
              "name": "reply",
              "value": "={{ $('AI Agent3').item.json.output.reply }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        -112
      ],
      "id": "624fd481-824b-4bef-b58d-f097dde4ee0c",
      "name": "save to database"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automation.urbatech.io/backend/comments/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "={{ $('Edit Fields3').item.json['entry id '] }}"
            },
            {
              "name": "sender_id",
              "value": "={{ $('Edit Fields3').item.json['sender id '] }}"
            },
            {
              "name": "sender_username",
              "value": "={{ $('Filter2').item.json.body.entry[0].changes[0].value.from.username }}"
            },
            {
              "name": "comment",
              "value": "={{ $('Filter2').item.json.body.entry[0].changes[0].value.text }}"
            },
            {
              "name": "reply",
              "value": "={{ $('Message a model3').item.json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        608
      ],
      "id": "5b31e5e6-1581-4762-a0ea-310a8cebc698",
      "name": "save to database2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v24.0/{{ $json.body.entry[0].id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"We offer a range of services including business automation, software development, AI solutions, and support & consultation. If you have specific needs or questions about any of these areas, feel free to ask!\",\n    \"quick_replies\": [\n      {\n        \"content_type\": \"text\",\n        \"title\": \"🛠️ Services\",\n        \"payload\": \"SHOW_SERVICES\"\n      },\n      {\n        \"content_type\": \"text\",\n        \"title\": \"💰 Price\",\n        \"payload\": \"SHOW_PRICES\"\n      },\n      {\n        \"content_type\": \"text\",\n        \"title\": \"📞 CONTACT\",\n        \"payload\": \"SHOW_CONTACT\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        -512
      ],
      "id": "5a63de65-2417-4f2e-a66d-0ba6985d7e38",
      "name": "services reply",
      "credentials": {
        "httpBearerAuth": {
          "id": "x4rSM9RFuiLqnCdN",
          "name": "IG reply to comments"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v24.0/{{ $json.body.entry[0].id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"We offer a variety of pricing options depending on the services you need. For automation and integrations, prices range from $50 for small automations to $1500 for large systems. Our AI solutions start at $120 for basic agents and can go up to $800 for advanced agents. If you're interested in web or mobile development, the costs vary based on the complexity of the project. Let me know if you need more detailed information about a specific service!\",\n    \"quick_replies\": [\n      {\n        \"content_type\": \"text\",\n        \"title\": \"🛠️ Services\",\n        \"payload\": \"SHOW_SERVICES\"\n      },\n      {\n        \"content_type\": \"text\",\n        \"title\": \"💰 Price\",\n        \"payload\": \"SHOW_PRICES\"\n      },\n      {\n        \"content_type\": \"text\",\n        \"title\": \"📞 CONTACT\",\n        \"payload\": \"SHOW_CONTACT\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        -592
      ],
      "id": "6e5b99d6-9a26-4a2b-bd08-782820db0f8a",
      "name": "pricing reply",
      "credentials": {
        "httpBearerAuth": {
          "id": "x4rSM9RFuiLqnCdN",
          "name": "IG reply to comments"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v24.0/{{ $json.body.entry[0].id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"You can contact us at info@smplics.com for any inquiries or support\",\n    \"quick_replies\": [\n      {\n        \"content_type\": \"text\",\n        \"title\": \"🛠️ Services\",\n        \"payload\": \"SHOW_SERVICES\"\n      },\n      {\n        \"content_type\": \"text\",\n        \"title\": \"💰 Price\",\n        \"payload\": \"SHOW_PRICES\"\n      },\n      {\n        \"content_type\": \"text\",\n        \"title\": \"📞 CONTACT\",\n        \"payload\": \"SHOW_CONTACT\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        -400
      ],
      "id": "7fe07d1a-82ab-42db-9298-0dd48e5753ab",
      "name": "contact reply",
      "credentials": {
        "httpBearerAuth": {
          "id": "x4rSM9RFuiLqnCdN",
          "name": "IG reply to comments"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI agent for a tech company called \"Smplics\".\n\nYour tasks are:  \n1. Classify the user's message.  \n2. If the message is a simple greeting, classify it as \"greeting\".\nImportant: Only return a JSON array as output. Do not include any extra text, explanations, or additional keys. The JSON array must contain objects with exactly one field: \"type\".\n--- COMPANY INFORMATION (KNOWLEDGE BASE) ---\ncompany name: smplics\n--- TASK ---\nAnalyze the user's message and classify it as one of the following: inquiry, complaint, review, greeting. Return only the JSON array, no extra text. \nOutput format (single-line JSON array):\n\n[\n  {\n    \"type\": \"complaint\",\n  }\n]\n\nMessage: {{ $json.message }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Output format (single-line JSON array):\n\n  {\n    \"type\": \"complaint\"\n  }\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -96,
        192
      ],
      "id": "8b9c77b7-313d-4c64-aed8-f1c430c742c6",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -96,
        416
      ],
      "id": "e190d0fd-2a82-4016-b442-760ca8a73156",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "d50Tbh0XGJWC5Bbv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n      \"type\": \"complaint\"\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        96,
        416
      ],
      "id": "68e7d53e-e7b1-4489-a31f-f015e5494876",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        192
      ],
      "id": "226c425e-ede9-49fb-afc2-4a816b70efed",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nMessage: {{ $json.message }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI agent for a tech company called \"Smplics\".\nsmplics stands for simple smart impactfull solutions\nLanguage Handling Rules:\n- Detect whether the user's message is in Arabic or English.\n- Reply in the same language as the user's message.\nYour tasks are:  \n1. Provide a natural reply to the user.  \n2. Answer questions based on the company information below.\n3 . dont ever answer questions not related to our company \n** example: if the user asks how to cook something or asked you to write some html code or anything that is outside inqueries just apologize for answering.\n--- COMPANY INFORMATION (KNOWLEDGE BASE) ---\nCompany Name: Smplics\nIndustry: Software Development, Automation, AI Integration\n\nAbout Smplics:\nSmplics specializes in:\n1. UI/UX Design \n3. Graphic Design \n4. Web Development \n5. Mobile App Development \n6. Backend Services\n7. Automation & AI Workflows\n8. AI Solutions\n9. Software Development\n10. Support & Consultation \n11. Cloud Solutions \n\nMission:\nTo simplify complex business processes using intelligent, scalable technology.\n\n\nContact Details:\n-Email: info@smplics.com\n-phone number: +(971)58584-0433\n-website: smplics.com\n\nFAQ:\n-Do you offer free consultations?\nYes, we offer a complimentary 30-minute consultation to discuss your needs and how we can help.\n-Can I visit your office for a meeting?\nYes, you can schedule an in-person meeting at our office. Please contact us in advance to arrange a convenient time.\n\n--- Rules ---\nanswer to the user question based on the knowledge base.\ndont provide any corrupted answers.\nif user asks about something related to our company and  not montioned in the data just give them contact details.\n- dont ever give answers on questions that is not related to our company just apologize.\n\n\nCRITICAL: You must respond ONLY with a JSON object. No markdown, no backticks, no \"Sure, here is your response\". Format: {\"reply\": \"your message here\"}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -96,
        -208
      ],
      "id": "dc14267f-7f48-4083-800e-9c9b8d6e1eea",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 2000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -96,
        16
      ],
      "id": "31cf350c-6473-4348-a609-c9033b403487",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "d50Tbh0XGJWC5Bbv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Bulletproof JSON Extraction\nlet raw = $json.output || \"\";\nlet response = {\n  reply: \"I'm having a technical hiccup. Could you try that again?\",\n  success: false,\n  raw_output: raw\n};\n\ntry {\n  // 1. Clean the fluff\n  let cleaned = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n  \n  // 2. Extract the object\n  const start = cleaned.indexOf('{');\n  const end = cleaned.lastIndexOf('}');\n\n  if (start !== -1 && end !== -1) {\n    const jsonString = cleaned.substring(start, end + 1);\n    const parsed = JSON.parse(jsonString);\n    \n    if (parsed.reply) {\n      response.reply = parsed.reply;\n      response.success = true;\n    }\n  }\n} catch (e) {\n  // Log the error internally but don't crash the node\n  response.error_details = e.message;\n}\n\nreturn response;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -112
      ],
      "id": "7a2a969d-8b26-4d28-9ddf-bcf3b390788c",
      "name": "Paresr code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json['sender id '] }}",
        "collectionName": "conversations",
        "databaseName": "smplics_ai"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        48,
        16
      ],
      "id": "f49965eb-4b69-480a-9602-1b92b00e0410",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "jv08bAElCC4bVEnk",
          "name": "MongoDB account(urbatech)"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "close",
            "host": "n8n.urbatech.io",
            "x-real-ip": "10.0.0.2",
            "x-forwarded-proto": "https",
            "x-forwarded-host": "n8n.urbatech.io",
            "x-forwarded-for": "2a03:2880:31ff:70::, 10.0.0.2",
            "content-length": "392",
            "content-type": "application/json",
            "x-hub-signature-256": "sha256=85e3c14c83807c41a3ed34ebbf80207f10853708cf8e4444ced44bad2e3c2a92",
            "cf-ew-via": "15",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "x-hub-signature": "sha1=f7ab6746e89928c4ea41e80a2baa665f262a4a9e",
            "instagram-api-version": "v23.0",
            "cf-ray": "9d4078767b292abe-LHR",
            "accept-encoding": "gzip, br",
            "accept": "*/*",
            "user-agent": "facebookexternalua",
            "cf-connecting-ip": "2a03:2880:31ff:70::",
            "cf-ipcountry": "IE",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "urbatech.io"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "instagram",
            "entry": [
              {
                "time": 1772119688585,
                "id": "17841474944182344",
                "messaging": [
                  {
                    "sender": {
                      "id": "882613211230951"
                    },
                    "recipient": {
                      "id": "17841474944182344"
                    },
                    "timestamp": 1772119687513,
                    "message": {
                      "mid": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDc0OTQ0MTgyMzQ0OjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI1OTk5MzQ2MDYzOTk2MzYzMjozMjY4OTgzODM0MzU0NDM0MjcwMzI5Mjc3MjQ5MDY3NDE3NgZDZD",
                      "text": "Hi"
                    }
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://n8n.urbatech.io/webhook/7e9b1d29-f5af-4a95-84e7-40baabb1651b",
          "executionMode": "production"
        },
        "binary": {
          "data": {
            "data": "eyJvYmplY3QiOiJpbnN0YWdyYW0iLCJlbnRyeSI6W3sidGltZSI6MTc3MjExOTY4ODU4NSwiaWQiOiIxNzg0MTQ3NDk0NDE4MjM0NCIsIm1lc3NhZ2luZyI6W3sic2VuZGVyIjp7ImlkIjoiODgyNjEzMjExMjMwOTUxIn0sInJlY2lwaWVudCI6eyJpZCI6IjE3ODQxNDc0OTQ0MTgyMzQ0In0sInRpbWVzdGFtcCI6MTc3MjExOTY4NzUxMywibWVzc2FnZSI6eyJtaWQiOiJhV2RmWkFHMWZhWFJsYlRveE9rbEhUV1Z6YzJGblpBVWxFT2pFM09EUXhORGMwT1RRME1UZ3lNelEwT2pNME1ESTRNak0yTmpnME1UY3hNRE13TVRJME5ESTFPVGs1TXpRMk1EWXpPVGsyTXpZek1qb3pNalk0T1Rnek9ETTBNelUwTkRNME1qY3dNekk1TWpjM01qUTVNRFkzTkRFM05nWkRaRCIsInRleHQiOiJIaSJ9fV19XX0=",
            "mimeType": "application/json"
          }
        },
        "pairedItem": {
          "item": 0,
          "input": 1
        }
      }
    ]
  },
  "connections": {
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reply to comments1": {
      "main": [
        [
          {
            "node": "Private Replay1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "reply to comments1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet2": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crypto: calculate signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto: calculate signature": {
      "main": [
        [
          {
            "node": "request_valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "request_valid?": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "services reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pricing reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "contact reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Private Replay1": {
      "main": [
        [
          {
            "node": "save to database2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quick reply3": {
      "main": [
        [
          {
            "node": "save to database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Paresr code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paresr code": {
      "main": [
        [
          {
            "node": "quick reply3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f79969af-7cf8-4fa3-a356-0f7f17bcb9f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a03d74449f09a0d103b11c0ee46ee8046d10d7cc69888a9d6870ac5124d16587"
  },
  "id": "LtPVMluKrqBVev2O",
  "tags": []
}